@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import 'https://fonts.googleapis.com/css?family=Fauna+One';

/*---------- Global Style ----------*/
.navbar{
    font-family: 'Fauna One', serif;
    font-size: 25px;
    line-height: 1.8!important;
    background-color: 
}
a, a:hover, a:focus, a:visited{
    color: #222;
    text-decoration: none;
}
.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
/*---------- Navbar ----------*/
.nav{
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    z-index: 99999;
}
.navbar-fixed-top{
    padding-top: 0px;
}
@media (max-width: 768px){
    .navbar-brand{
        padding-left: 0px;
    }
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.btn-nav{
    background: transparent;
    border: none;
    padding: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 99999;
}
@media (max-width: 768px){
    .btn-nav{
        padding: 15px 0;
    }
}
.btn-nav:focus{
    outline: 0;
}
.icon-bar{
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 5px;
    background-color: white;
}
.icon-bar.inverted{
    background-color: #fff;
}
@media (max-width: 992px){
    .icon-bar.inverted{
        background-color: white;
    }
}
.btn-nav:hover .icon-bar{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: white;
}
.nav-content{
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 35%;
    width: 16%;
    z-index: 11;
    background-color: #008000;
}
.nav-list{
    list-style: none;
    padding: 0;
    position: relative;
}
.item-anchor{
    font-size: 26px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    padding-left: 10px;
    opacity: 1;
}
.item-anchor:hover, .item-anchor:focus{
    color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.item-anchor:hover:after, .item-anchor:focus:after{
    width: 100%;
    background: #f7f7f7;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.nav-item{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #222;
}
.nav-item a:link, .nav-item a:hover, .nav-item a:focus{
    color: #222;
}
.nav-item a:hover, .nav-item a:focus{
    color: white;
}
.animated {
    display: block;
    margin: 0 auto;
}
.animated:hover .icon-bar, .animated:focus .icon-bar{
    background-color: #fff;
}
.animated:focus{
    cursor: pointer;
    z-index: 9999;
}
.middle{
    margin: 0 auto;
}
.icon-bar{
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
}
.animated .icon-bar{
    z-index: 999999;
    background-color: #222!important;
}
.animated .top{
    -webkit-transform: translateY(10px) rotateZ(45deg);
    -moz-transform: translateY(10px) rotateZ(45deg);
    -ms-transform: translateY(10px) rotateZ(45deg);
    -o-transform: translateY(10px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
}
.animated .bottom{
    -webkit-transform: translateY(-11px) rotateZ(-45deg);
    -moz-transform: translateY(-11px) rotateZ(-45deg);
    -ms-transform: translateY(-11px) rotateZ(-45deg);
    -o-transform: translateY(-11px) rotateZ(-45deg);
    transform: translateY(-11px) rotateZ(-45deg);
}
.animated .middle{
    width: 0;
}
@keyframes showNav{
    from{top: -100%;}
    to{top: 0;}
}
@-webkit-keyframes showNav{
    from{top: -100%;}
    to{top: 0;}
}
@-moz-keyframes showNav{
    from{top: -100%;}
    to{top: 0;}
}
@-o-keyframes showNav{
    from{top: -100%;}
    to{top: 0;}
}
.showNav{
    -webkit-animation: showNav 1s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav 1s ease forwards;
}
@keyframes hideNav{
    from{top: 0;}
    to{top: -100%;}
}
@-webkit-keyframes hideNav{
    from{top: 0;}
    to{top: -100%;}
}
@-moz-keyframes hideNav{
    from{top: 0;}
    to{top: -100%;}
}
@-o-keyframes hideNav{
    from{top: 0;}
    to{top: -100%;}
}
.hideNav{
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
}
.hidden{
    display: none;
}